<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TuserMapper">
    <resultMap id="BaseResultMap" type="com.test.vo.Tuser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="is_limit" jdbcType="INTEGER" property="isLimit" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="reg_date" jdbcType="DATE" property="regDate" />
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, password, phone, is_limit, remark, reg_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.test.vo.Tuser">
    insert into t_user (id, user_name, password, 
      phone, is_limit, remark, 
      reg_date)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{isLimit,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{regDate,jdbcType=DATE})
  </insert>
    <insert id="insertSelective" parameterType="com.test.vo.Tuser">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="isLimit != null">
                is_limit,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="regDate != null">
                reg_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isLimit != null">
                #{isLimit,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="regDate != null">
                #{regDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.test.vo.Tuser">
        update t_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isLimit != null">
                is_limit = #{isLimit,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="regDate != null">
                reg_date = #{regDate,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.test.vo.Tuser">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      is_limit = #{isLimit,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      reg_date = #{regDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByPage" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
         from t_user
    </select>
</mapper>